<section class="row b-advantages">
    <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1">
        <h2>Зачем нужен сервер</h2>
        <span class="line blue"></span>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <img src="img/clock.png" alt="" />
                <p>Круглосуточный доступ к интернету, корпоративным документам и почте</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <img src="img/money.png" alt="" />
                <p>Cокращение затрат на обновление парка оборудования</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <img src="img/it.png" alt="" />
                <p>Сокращение издержек на ИТ</p>
            </div>
        </div>
    </div>
</section>