<section class="row b-howto">
    <a name="howto"></a>
    <h2>Как мы работаем</h2>
    <span class="line red"></span>

    <div class="col-xs-12 col-sm-4">
        <img src="img/chat.png" alt="">
        <p>Оставьте заявку, и&nbsp;наш специалист свяжется с&nbsp;вами в&nbsp;ближайшее время</p>
    </div>
    <div class="col-xs-12 col-sm-4">
        <img src="img/config.png" alt="">
        <p>Исходя из требований мы подберем и&nbsp;предложим конфугурации оборудования</p>
    </div>
    <div class="col-xs-12 col-sm-4">
        <img src="img/ok.png" alt="">
        <p>Заключаем договор и&nbsp;досталяем оборудование к&nbsp;вам в&nbsp;офис</p>
    </div>
</section>