<section class="row b-problem">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>Какие проблемы решит сервер</h2>
        <span class="line blue"></span>
        <ul>
            <li class="money">Снижение затрат на обновление оборудования</li>
            <li class="clock">Круглосуточная доступность интернета и корпоративной почты</li>
            <li class="network">Организация взаимодействия большого количества рабочих мест</li>
            <li class="lock">Надежное хранение и защита корпоративной информации</li>
        </ul>
    </div>
</section>