<section class="row b-servers">
    <a name="servers"></a>
    <h2>Что мы можем предложить</h2>
    <span class="line red"></span>
    
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-2">
            <div class="server-type">
                <img src="img/servers.jpg" alt="">
                <span class="line red"></span>
                <h3>Серверные решения</h3>
                <p>Большой выбор серверных решений, от лучших производителей: Lenovo и Asus. Стойки, серверы в корпусе форм-фактора tower, блейд-серверы, серверы высокой плотности, серверы для критических задач, комплектующие.</p>
                <a href="#fields" rel="callback" class="request">Оставить заявку</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="server-type">
                <img src="img/storage-family.png" alt="">
                <span class="line red"></span>
                <h3>Системы хранения данных</h3>
                <p>Всегда доступные, простые в управлении и масштабировании
    DAS, NAS, SAN, ленточные накопители, ПО и системы видеонаблюдения для крупных предприятий.</p>
                <a href="#fields" rel="callback" class="request">Оставить заявку</a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-2">
            <div class="server-type">
                <img src="img/networking-family.png" alt="">
                <span class="line red"></span>
                <h3>Сети передачи данных</h3>
                <p>Высокоскоростные и гибкие сетевые устройства для построения максимально эффективной ИТ-среды. Коммутаторы для установки в стойку и встраиваемые блейд-модули, ПО и многое другое.</p>
                <a href="#fields" rel="callback" class="request">Оставить заявку</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="server-type">
                <img src="img/software-family.png" alt="">
                <span class="line red"></span>
                <h3>Программное обеспечение</h3>
                <p>Лучшее на рынке ПО для динамичного бизнеса. Инструменты управления, операционные системы и многое другое.</p>
                <a href="#fields" rel="callback" class="request">Оставить заявку</a>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-2">
            <div class="server-type">
                <img src="img/solutions-family.png" alt="">
                <span class="line red"></span>
                <h3>Корпоративные решения</h3>
                <p>Проверенные временем решения, обеспечивающие конкурентные преимущества. Оптимальная отправная точка для персонализации решения.</p>
                <a href="#fields" rel="callback" class="request">Оставить заявку</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="server-type">
                <img src="img/services-enterprise.png" alt="">
                <span class="line red"></span>
                <h3>Сервисная поддержка</h3>
                <p>Информация о технических решениях и гарантийном обслуживании.
    Мы всегда готовы помочь с настройкой виртуальной или облачной среды вашей компании, а также предоставить гарантийное обслуживание</p>
                <a href="#fields" rel="callback" class="request">Оставить заявку</a>
            </div>
        </div>    
        </div>    
</section>