<section class="row">
   <a name="slider"></a>
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
       <h2>Серверы lenovo и&nbsp;asus</h2>
	   <span class="line red"></span>
        <div id="slider">
            <div class="slide">
                <img src="img/RS140.png" />
                <div class="slide-text">
                    <h3>Lenovo ThinkServer RS140</h3>
                    <p>Процессоры Intel Xeon E3-12x5 v3 обрабатывают больше одновременных транскодов HD на стойку, чем некоторые решения с дискретной графикой, что гарантирует высокую производительность и качество изображения. Монтируемый в стойку сервер RS140 совместим со всей линейкой процессоров Intel Xeon E3 12x5, оснащенных встроенной графикой: E3-1285, E3-1265, E3-1245 и E3-1225. Это идеальное устройство для мультимедийных развлечений, облачных игр и виртуализации рабочих столов.</p>
                </div><!-- /slider-text -->
            </div><!-- /slide -->

            <div class="slide">
                <img src="img/TD350.png" />
                <div class="slide-text">
                    <h3>Lenovo ThinkServer TD350</h3>
                    <p>Оптимально сочетающий в себе высокую производительность и хранилище огромной емкости, позволит исключить инвестиции в стоечную инфраструктуру. Этот сервер форм-фактора Tower нового поколения является уникальным решением, поскольку превосходит модель TD340 по объему оперативной памяти почти в три раза (до 512 ГБ DDR4), а по емкости хранилища — в два раза (до 90 ТБ). Инновационный сервер в корпусе форм-фактора Tower 4U позволяет использовать на 25% больше жестких дисков в каждом уровне 1U по сравнению с конкурентами, обеспечивает более быструю передачу файлов и скорость операций ввода-вывода.</p>
                </div><!-- /slider-text -->
            </div><!-- /slide -->

            <div class="slide">
                <img src="img/RD350.png" />
                <div class="slide-text">
                    <h3>Lenovo ThinkServer RD350</h3>
                    <p>Компактный сервер высотой 1U, обеспечивающий все требуемые возможности, и ничего лишнего. Поддержка двух процессоров Intel Xeon E5-2600 серии v3 обеспечивает высокую производительность, которая повышает эффективность работы сотрудников. Такие особенности этого сервера, как жесткие диски с возможностью горячей замены и резервированные блоки питания, а также встроенный RAID-контроллер, обеспечивают высокую надежность. Этот сервер корпоративного класса предоставляет достаточную вычислительную мощность для использования в инфраструктуре, в качестве сервера для совместной работы и для размещения бизнес-приложений.</p>
                </div><!-- /slider-text -->
            </div><!-- /slide -->

            <div class="slide">
                <img src="img/RD450.png" />
                <div class="slide-text">
                    <h3>Lenovo ThinkServer RD450</h3>
                    <p>В максимальной комплектации Lenovo ThinkServer RD450 имеются два процессора Intel® Xeon® E5-2600 серии v3. Оперативная память объемом до 512 ГБ в 16 слотах обеспечивает колоссальное преимущество по сравнению с серверами предыдущего поколения. Все это гарантирует более быструю и эффективную работу приложений. Благодаря этим улучшениям и очень гибкой конструкции модель RD450 идеально подходит для инфраструктуры компании, например в качестве сервера для совместной работы или размещения бизнес-приложений, а также в качестве веб-сервера либо сервера для хостинга.</p>
                </div><!-- /slider-text -->
            </div><!-- /slide -->

            <div class="slide">
                <img src="img/RD550.png" />
                <div class="slide-text">
                    <h3>Lenovo ThinkServer RD550</h3>
                    <p>Отлично продуманная конструкция обеспечивает более высокую плотность хранения и скорость выполнения операций ввода-вывода, чем когда-либо ранее. За счет уменьшения размеров отсеков жестких дисков и незначительно увеличенных шасси, в том же корпусе 1U RD550 можно разместить 12 отсеков и использовать их для хранения данных или повышения производительности. Для достижения высочайшей производительности используется единственная в своем роде конструкция Lenovo AnyBay, позволяющая размещать в одном отсеке накопители разных типов.</p>
                </div><!-- /slider-text -->
            </div><!-- /slide -->
                
            <div class="slide">
                <img src="img/TS300.png" />
                <div class="slide-text">
                    <h3>ASUS TS300-E8-PS4</h3>
                    <p>Современный высокопроизводительный сервер с поддержкой процессоров Intel Xeon E3-1200 v3. Его отличают качественные компоненты, высокая энергоэффективность, продуманная конструкция и гибкие функции удаленного управления. Для установки плат расширения, включая видеокарты, предлагается один слот PCI Express 3.0 x16, а слот PCI служит для поддержки старого PCI-совместимого оборудования. Сервер оснащается высокоэффективным блоком питания, соответствующим стандарту «80 PLUS Bronze». Совместим с RAID-контроллерами серии ASUS PIKE, с помощью которых можно реализовать поддержку жестких дисков SAS и SATA  и объединить их в массивы RAID различных типов.</p>
                </div><!-- /slider-text -->
            </div><!-- /slide -->
								
            <div class="slide">
                <img src="img/RS300.png" />
                <div class="slide-text">
                    <h3>ASUS RS300-E8-RS4</h3>
                    <p>Данный сервер оснащен четырьмя сетевыми контроллерами I210AT от Intel, которые отличаются эффективной работой при низком уровне загрузки центрального процессора. Сетевые порты могут функционировать в режиме объединения (для увеличения пропускной способности) или отказоустойчивости (в случае неполадок с одним портом, другие обеспечат бесперебойную работу сетевого соединения). Дроссели Beat Thermal, отличаются улучшенным охлаждением и повышенной эффективностью работы. Модуль ASMB7-iKVM обеспечивает удаленный доступ к системе, а программное обеспечение ASWM Enterprise предлагает удобный интерфейс для управления всеми функциями сервера.</p>
                </div><!-- /slider-text -->
            </div><!-- /slide -->
								
            <div class="slide">
                <img src="img/RS500.png" />
                <div class="slide-text">
                    <h3>Asus RS500-E8-RS</h3>
                    <p>Стоечный сервер формата 1U, который отличается высокой вычислительной мощностью, поддержкой большого объема системной и дисковой памяти, а также гибкими возможностями расширения конфигурации. Энергоэффективный и надежный, он будет хорошим выбором для серверных приложений, необходимых для малого и среднего бизнеса. Внутренняя конструкция сервера RS500-E8-RS4 и, в частности, его система охлаждения оптимизирована под использование в серверной стойке. Для удобства технического обслуживания целый ряд компонентов сервера устанавливаются без использования инструментов.</p>
                </div><!-- /slider-text -->
            </div><!-- /slide -->
                                
            <div class="slide">
                <img src="img/RS520.png" />
                <div class="slide-text">
                    <h3>Asus RS520-E8-RS8</h3>
                    <p>Энергоэффективный и надежный, сервер будет прекрасным выбором для информационных центров и корпоративных серверных приложений. Все кабели проведены внутри корпуса таким образом, чтобы не мешать вентиляции. Имеется возможность вручную настроить скорость вращения вентилятора системы охлаждения с целью достижения баланса между эффективностью и уровнем шума. Данный сервер является полностью совместимым с дисковыми контроллерами серии ASUS PIKE, которые обеспечивают поддержку интерфейсов SAS и SATA с возможностью создания RAID-массивов. Таким образом, сервер допускает гибкую настройку своей аппаратной конфигурации.</p>
                </div><!-- /slider-text -->
            </div><!-- /slide -->
                                
            <div class="slide">
                <img src="img/TS300.png" />
                <div class="slide-text">
                    <h3>ASUS TS300-E8-PS4</h3>
                    <p>Современный высокопроизводительный сервер с поддержкой процессоров Intel Xeon E3-1200 v3. Его отличают качественные компоненты, высокая энергоэффективность, продуманная конструкция и гибкие функции удаленного управления. Для установки плат расширения, включая видеокарты, предлагается один слот PCI Express 3.0 x16, а слот PCI служит для поддержки старого PCI-совместимого оборудования. Сервер оснащается высокоэффективным блоком питания, соответствующим стандарту «80 PLUS Bronze». Совместим с RAID-контроллерами серии ASUS PIKE, с помощью которых можно реализовать поддержку жестких дисков SAS и SATA  и объединить их в массивы RAID различных типов.</p>
                </div><!-- /slider-text -->
            </div><!-- /slide -->
                                
            <div class="slide">
                <img src="img/RS300.png" />
                <div class="slide-text">
                    <h3>ASUS RS300-E8-RS4</h3>
                    <p>Данный сервер оснащен четырьмя сетевыми контроллерами I210AT от Intel, которые отличаются эффективной работой при низком уровне загрузки центрального процессора. Сетевые порты могут функционировать в режиме объединения (для увеличения пропускной способности) или отказоустойчивости (в случае неполадок с одним портом, другие обеспечат бесперебойную работу сетевого соединения). Дроссели Beat Thermal, отличаются улучшенным охлаждением и повышенной эффективностью работы. Модуль ASMB7-iKVM обеспечивает удаленный доступ к системе, а программное обеспечение ASWM Enterprise предлагает удобный интерфейс для управления всеми функциями сервера.</p>
                </div><!-- /slider-text -->
            </div><!-- /slide -->   
        </div><!-- /slider -->
    </div>
</section>