<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Серверное оборудование</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.min.css">
    
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
    
</head>
<body>
    <div class="container-fluid">
        //= include/header.html
        //= include/b-advantages.html
        //= include/b-callback.html
        //= include/b-servers.html
        //= include/b-configurator.html
        //= include/b-problem.html
        //= include/b-callback.html
        //= include/b-howto.html
        //= include/b-contacts.html
    </div>
    //= include/b-counts.html
</body>
</html>